<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"><h2>{$meta_title}</h2></h4>
</div>
<div class="modal-body">

    <div class="form-horizontal">
    <form id="fm" method="post">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="group_pid" class="control-label col-md-2">上级</label>

                <div class="col-md-10">
                    <input id="group_pid" type="text" class="form-control" disabled="disabled" value="{$region['name']|default='无'}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="auth-title" class="control-label col-md-2">名称</label>

                <div class="col-md-10">
                    <input id="auth-title" type="text" name="name" class="form-control"
                           value="{$info.name|default=''}"/>
                </div>
            </div>

        </div>
        <div class="footer">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <input type="hidden" name="level" value="{$region['level']|default=''}"/>
            <input type="hidden" name="pid" value="{:isset($region['id'])?$region['id']:$info['pid']}">
            <input type="hidden" name="status" value="{$info.status|default='1'}">
            <!--<button class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>-->
            <!--<button type="submit" class="btn btn-primary">确 定</button>-->
        </div>
    </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-primary"  onclick="Save('{:U()}','fm')">保存</button>
</div>