<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
        <h2><h2>{$_meta_title}</h2></h2>
    </h4>
</div>
<div class="modal-body">
    <div class="container-fluid">

        <!-- 操作  -->
        <div>
            <div class="msg"></div>
            <!--<a id="add" class="btn btn-success" href="{:U('add')}">新 增</a>-->
        </div>

            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">商家资料</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">门店图片</a>
                    </li>
                    <li role="presentation"><a href="#messages" aria-controls="businessLicense" role="tab" data-toggle="tab">营业执照</a>
                    </li>
                    <li role="presentation"><a href="#legalPerson" aria-controls="legalPerson" role="tab" data-toggle="tab">法人信息</a>
                    </li>
                    <li role="presentation"><a href="#licence" aria-controls="licence" role="tab" data-toggle="tab">营业许可证</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">


                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th width="10%">名称</th>
                                <th>信息</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>店铺ID</td>
                                <td>{$_info.id}</td>
                            </tr>
                            <tr>
                                <td>店铺名称</td>
                                <td>{$_info.title}</td>
                            </tr>
                            <tr>
                                <td>店铺介绍</td>
                                <td>{$_info.description}</td>
                            </tr>
                            <tr>
                                <td>所属组织</td>
                                <td>{$_info.group_id|getGroupById='title'}</td>
                            </tr>
                            <tr>
                                <td>店铺类型</td>
                                <td>{$_info.type|getShopType}</td>
                            </tr>
                            <tr>
                                <td>是否总店</td>
                                <td>{$_info.pid}</td>
                            </tr>
                            <tr>
                                <td>添加用户</td>
                                <td>{$_info.id}</td>
                            </tr>
                            <tr>
                                <td>区域</td>
                                <td>{$_info.id}</td>
                            </tr>
                            <tr>
                                <td>店铺状态</td>
                                <td>{$_info.status|getShopStatus}</td>
                            </tr>


                            </tbody>
                        </table>
                        </div>
                    </div>


                    <div role="tabpanel" class="tab-pane" id="profile">
                        <br>
                        <!--<div class="row">-->
                        <div class="col-xs-6 col-md-12">
                            <a href="javascript:void(0)" class="thumbnail">
                                <img src="{$_info['_picture']['path']|default=''}" alt="门店图片">
                            </a>
                        </div>
                    </div>
                    <!--</div>-->
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <br>
                        <div class="col-xs-6 col-md-12">

                            <a href="javascript:void(0)" class="thumbnail">
                                <img src="{$_info['_yyzz_picture']['path']|default=''}" alt="营业执照">
                            </a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="legalPerson">
                        <br>
                        <div class="col-xs-6 col-md-6">
                            <a href="javascript:void(0)" class="thumbnail">
                                <img src="{$_info['_id_cart_front_picture']['path']|default=''}" alt="法人信息正面">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <a href="javascript:void(0)" class="thumbnail">
                                <img src="{$_info['_id_cart_back_picture']['path']|default=''}" alt="法人信息背面">
                            </a>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="licence">
                        <br>
                        <div class="col-xs-6 col-md-12">
                            <a href="javascript:void(0)" class="thumbnail">
                                <img src="{$_info['_spwsxkz_picture']['path']|default=''}" alt="营业许可证">
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        <!--<div>-->
        <!--&lt;!&ndash;<button class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<a class="btn btn-success btn-pass" href="javascript:void(0)" onclick="pass()">通&nbsp;&nbsp;&nbsp;过</a>　&ndash;&gt;-->
        <!--<div class="msg"></div>-->
        <!--</div>-->
        <hr>
        <div>
            <label for="reason" class="control-label">如果不通过请填写原因</label>
            <textarea id="reason" class="form-control" rows="4" placeholder="不通过原因"></textarea>
            <!--<a class="btn btn-warning btn-refuse" href="javascript:void(0)" onclick="refuse()">不通过</a>-->
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取&nbsp;&nbsp;&nbsp;消</button>
    <button type="button" class="btn btn-warning btn-refuse" onclick="refuse()">不通过</button>
    <button type="button" class="btn btn-success" onclick="pass()">通&nbsp;&nbsp;&nbsp;过</button>
</div>
<script>
    var shop_id = '{$_info.id}';
    var status = '{$_info.status}';
    function pass() {
//           if(!confirm("我已确定该商户在系统中不存在？")){
//             return false;
//           }
        $.ajax({
            type: "POST",
            url: "{:U('checkinfo')}",
            dataType: "json",
            data: {"shop_id": shop_id, "status": status, "method": 'pass'},
            success: function (data) {
                onSuccess(data);
            },
            error: function () {
                alert("异常！");
            }
//            beforeSend: function(){
//                $('.msg').html("正在处理...");
//            },
//            success: function(json){
//            if(json.status==1){
//                $('.msg').html("处理成功，正在跳转...");
//                alert('处理成功！');
//                location.href="{:U('lists')}";
//            }else{
//                $('.msg').html("<div class = 'text-danger'>处理失败！错误原因:"+json.info+"</div>");
//                return false;
//            }
//            }
        });
    }
    ;
    function refuse() {
        $.ajax({
            type: "POST",
            url: "{:U('checkinfo')}",
            dataType: "json",
            data: {"shop_id": shop_id, "status": status, "method": 'UnPass', "reason": $("#reason").val()},
//            beforeSend: function(){
//                $('.msg').html("正在提交...");
//            },
//            success: function(json){
//                if(json.status==1){
//                    $('.msg').html("处理成功，正在跳转...");
//                    alert('处理成功！');
//                    location.href="{:U('lists')}";
//                }else{
//                    $('.msg').html("<div class = 'text-danger'>处理失败！错误原因:"+json.info+"</div>");
//                    return false;
//                }
//            }
            success: function (data) {
                onSuccess(data);
            },
            error: function () {
                alert("异常！");
            }
        });
    }
    ;
</script>