<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"> <h2><h2>{$_meta_title}</h2></h2></h4>
</div>
<div class="modal-body">
<div class="container-fluid">

    <!-- 操作  -->
    <div>
        <div class="msg"></div>
        <!--<a id="add" class="btn btn-success" href="{:U('add')}">新 增</a>-->
    </div>
    <!--
    id int(10) UNSIGNED NOT NULL AUTO_INCREMENT COMMENT '店面id',
  title varchar(100) NOT NULL COMMENT '店面名称',
  description varchar(255) NOT NULL COMMENT '店面介绍',
  group_id int(10) UNSIGNED NOT NULL DEFAULT 0 COMMENT '所属组织id(商家id)',
  status tinyint(2) NOT NULL DEFAULT 0 COMMENT '-1软删除,0-待审核,1-审核通过,2-审核中,3-审核未通过',
  lnglat point DEFAULT NULL COMMENT '店面坐标，采用百度地图经纬度',
  type tinyint(4) NOT NULL COMMENT '店面类别：1-超市，2-生鲜，3-洗车，4-送水',
  open_status tinyint(4) NOT NULL DEFAULT 1 COMMENT '营业状态：0-关闭，1-开放',
  open_time_mode tinyint(4) NOT NULL DEFAULT 1 COMMENT '营业时间模式，1-有时间段，2-7X24小时',
  begin_open_time int(11) NOT NULL DEFAULT 32400 COMMENT '营业开始时间，24小时内，单位秒,缺省9点',
  end_open_time int(11) NOT NULL DEFAULT 64800 COMMENT '营业结束时间，24小时内，单位秒，缺省18点',
  delivery_range int(11) NOT NULL DEFAULT 500 COMMENT '免费送货距离:单位米',
  phone_number char(15) NOT NULL COMMENT '店面电话，客户可以直接联系',
  address varchar(128) DEFAULT '' COMMENT '店面地址，供客户参考',
  pid int(10) UNSIGNED NOT NULL DEFAULT 0 COMMENT '0-总店,>0分店',
  add_uid int(10) UNSIGNED NOT NULL DEFAULT 0 COMMENT '添加用户id',
  region_id int(10) UNSIGNED NOT NULL DEFAULT 0 COMMENT '区域id',
    -->
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th width="10%">名称</th>
            <th>信息</th>

        </tr>
        </thead>
        <tbody>

            <tr>
                <td>店铺ID</td>
                <td>{$_info.id}</td>
            </tr>
            <tr>
                <td>店铺名称</td>
                <td>{$_info.title}</td>
            </tr>
            <tr>
                <td>店铺介绍</td>
                <td>{$_info.description}</td>
            </tr>
            <tr>
                <td>所属组织</td>
                <td>{$_info.group_id|getGroupById='title'}</td>
            </tr>
            <tr>
                <td>店铺类型</td>
                <td>{$_info.type|getShopType}</td>
            </tr>
            <tr>
                <td>是否总店</td>
                <td>{$_info.pid}</td>
            </tr>
            <tr>
                <td>添加用户</td>
                <td>{$_info.id}</td>
            </tr>
            <tr>
                <td>区域</td>
                <td>{$_info.id}</td>
            </tr>
            <tr>
                <td>店铺状态</td>
                <td>{$_info.status|getShopStatus}</td>
            </tr>


        </tbody>
    </table>
    <!--<div>-->
        <!--&lt;!&ndash;<button class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<a class="btn btn-success btn-pass" href="javascript:void(0)" onclick="pass()">通&nbsp;&nbsp;&nbsp;过</a>　&ndash;&gt;-->
        <!--<div class="msg"></div>-->
    <!--</div>-->
    <hr>
    <div>
        <label for="reason" class="control-label">如果不通过请填写原因</label>
        <textarea  id="reason" class="form-control" rows="4" placeholder="不通过原因"></textarea>
        <!--<a class="btn btn-warning btn-refuse" href="javascript:void(0)" onclick="refuse()">不通过</a>-->
    </div>

</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取&nbsp;&nbsp;&nbsp;消</button>
    <button type="button" class="btn btn-warning btn-refuse" onclick="refuse()">不通过</button>
    <button type="button" class="btn btn-success" onclick="pass()">通&nbsp;&nbsp;&nbsp;过</button>
</div>
<script>
    var shop_id = '{$_info.id}';
    var status='{$_info.status}';
       function pass(){
//           if(!confirm("我已确定该商户在系统中不存在？")){
//             return false;
//           }
        $.ajax({
            type: "POST",
            url: "{:U('checkinfo')}",
            dataType: "json",
            data: {"shop_id":shop_id,"status":status,"method":'pass'},
            beforeSend: function(){
                $('.msg').html("正在处理...");
            },
            success: function(json){
            if(json.status==1){
                $('.msg').html("处理成功，正在跳转...");
                alert('处理成功！');
                location.href="{:U('lists')}";
            }else{
                $('.msg').html("处理失败！错误原因:"+json.info);
                return false;
            }
            }
        });
    };
  function refuse(){
        $.ajax({
            type: "POST",
            url: "{:U('checkinfo')}",
            dataType: "json",
            data: {"shop_id":shop_id,"status":status,"method":'UnPass',"reason":$("#reason").val()},
            beforeSend: function(){
                $('.msg').html("正在提交...");
            },
            success: function(json){
                if(json.status==1){
                    $('.msg').html("处理成功，正在跳转...");
                    alert('处理成功！');
                    location.href="{:U('lists')}";
                }else{
                    $('.msg').html("处理失败！<br>错误原因:"+json.info);
                    return false;
                }
            }
        });
    };
</script>