
    <div class="table-responsive">
        <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
            <th>ID</th>
            <th>商铺名称</th>
            <th>所属组织</th>
            <th>商铺类型</th>
            <th>营业状态</th>
            <th>电话</th>
            <th>是否总店</th>
            <th>添加用户</th>
            <th>区域</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <notempty name="_list">
            <volist name="_list" id="vo">
            <tr>
                <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                <td>{$vo.id}</td>
                <td>{$vo.title}</td>
                <td>{$vo.group_id|getGroupById='title'}</td>
                <td>{$vo.type|getShopType}</td>
                <td>{$vo.open_status}</td>
                <td>{$vo.phone_number|default='----'}</td>
                <td>{$vo.pid}</td>
                <td>{$vo.add_uid}</td>
                <td>{$vo.region_id}</td>
                <td>{$vo.status|getShopStatus}</td>
                <td><a data-backdrop="false" data-toggle="modal" data-target="#DlgModal" href="{:U('checkInfo','shop_id='.$vo['id'])}">商户审核</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a data-backdrop="false" data-toggle="modal" data-target="#DlgModal" href="{:U('modify','shop_id='.$vo['id'])}">修改组织</a>
                </td>
            </tr>
            </volist>
            <else/>
            <td colspan="11" class="text-center"> aOh! 暂时还没有商铺!</td>
        </notempty>
        </tbody>
    </table>
    </div>

<div class="page">
    {$_page}
</div>
<script>baseJs();</script>