<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{:C('WEB_SITE_TITLE')}</title>

</head>
<body>

<h5>
    <a href="#">分类列表</a> |
    <a href="#">分类添加</a> |
    <a href="#">分类编辑</a> |
    <a href="#">分类删除</a> |
    <a href="{:U('Public/login')}">管理员登陆</a> |
    <a href="{:U('Public/register')}">管理员注册</a> |
    <a href="{:U('Public/logout')}">管理员退出</a> |
    <a href="{:U('Apimerchant/User/login')}">商家登陆</a> |
    <a href="{:U('Apimerchant/User/register')}">商家注册</a> |
    <a href="{:U('Apimerchant/User/logout')}">商家退出</a> |
</h5>


</body>
</html>