body {
    padding-top: 65px;
}

.rg-header-title {
    font-weight: bold;
    font-size: 16px;
}

#rg-position span {
    color: #999;
    font-style: italic;
}

#rg-container-fun { /* 真实的功能面板，因为easyui布局面板右侧的特殊性，右侧要多16个像素 */
    overflow: auto;
}

@media (min-width: 768px) { /*宽度大于等于768px,采用如下样式*/
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

@media (max-width: 767px) { /*宽度小于768px,采用如下样式*/
    #rg-container-fun {
        height: 1000px !important;
    }
}

footer {
    margin-top: 15px;
    height: 30px;
    line-height: 30px;
    background-color: #488fce;
    text-align: center;
    color: #ffffff;
    width: 100%;
}
#DlgModal .modal-body { /*模态框内容*/
    overflow-y: auto;
}



/*图片上传插件样式*/
.webuploader-container {
    position: relative;
}
.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
.webuploader-pick-hover {
    background: #00a2d4;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}