<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"><h2>{:isset($info['id'])?'编辑':'新增'}节点</h2></h4>
</div>
<div class="modal-body">

    <div class="form-horizontal">
        <form id="fm"  method="post">

            <div class="form-group">
                <label for="group_pid" class="control-label col-md-2">上级</label>

                <div class="col-md-10">
                    <input id="group_pid" type="text" class="form-control" disabled="disabled"
                           value="{$category['title']|default='无'}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="auth-title" class="control-label col-md-2">标题</label>

                <div class="col-md-10">
                    <input id="auth-title" type="text" name="title" class="form-control"
                           value="{$info.title|default=''}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="auth-sort" class="control-label col-md-2">排序</label>

                <div class="col-md-10">
                    <input id="auth-sort" type="text" name="sort" class="form-control"
                           value="{$info.sort|default=''}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="auth-module" class="control-label col-md-2">模块</label>

                <div class="col-md-10">
                    <input id="auth-module" type="text" name="module" class="form-control"
                           value="{$info.module|default=''}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="auth-url" class="control-label col-md-2">URL</label>

                <div class="col-md-10">
                    <input id="auth-url" type="text" name="url" class="form-control"
                           value="{$info.url|default=''}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="group_tip" class="control-label col-md-2">提示</label>

                <div class="col-md-10">
                    <input id="group_tip" type="text" name="tip" class="form-control"
                           value="{$info.group_tip|default=''}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">是否隐藏</label>

                <div class="col-md-10">
                    <eq name="info.hide" value="0">
                        <input type="radio" name="hide" value="0" checked >是
                        <input type="radio" name="hide" value="1" >否
                        <else/>
                        <input type="radio" name="hide" value="0" >是
                        <input type="radio" name="hide" value="1" checked>否
                    </eq>

                </div>
            </div>

            <div class="footer">
                <input type="hidden" name="id" value="{$info.id|default=''}">
                <input type="hidden" name="level" value="{$category['level']|default=''}"/>
                <input type="hidden" name="status" value="{$info.status|default='1'}">
                <input type="hidden" name="pid" value="{:isset($category['id'])?$category['id']:$info['pid']}">
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-primary" onclick="Save()">保存</button>
</div>
<script>
    function Save(){
        $.ajax({
            type:'POST',
            url:"{:U()}",
            data:$('#fm').serialize(),
            dataType:'json',
            success:function(data) {
                onSuccess(data);
            },
            error : function() {
                alert("异常！");
            }
        })
    }
</script>