<!-- 操作  -->



        <div class="row">

            <div class="col-xs-8 col-sm-6 col-lg-4">
                <a data-backdrop="false" data-toggle="modal" data-target="#DlgModal" id="add-group"
                   class="btn btn-success"
                   href="{:U('add')}">新 增</a>
            </div>
            <!-- 高级搜索 -->
            <div class="search-form fr cf col-xs-4 col-sm-6 col-lg-8">
                <select id="group_id" class="form-control" name="group_id">
                    <volist name="auth_group" id="vo">
                        <option value="{$vo['id']|default='无'}"
                        <eq name="selected_group" value="$vo['id']">selected</eq>
                        >{$vo.title_show}</option>
                    </volist>
                </select>
            </div>


        </div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
            <th>用户组</th>
            <th>组织</th>
            <th>描述</th>
            <th>授权</th>
            <th>是否公共</th>
            <th>启用状态</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <notempty name="_list">
            <volist name="_list" id="vo">
                <tr>
                    <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                    <td><a data-backdrop="false" data-toggle="modal" data-target="#DlgModal"
                           href="{:U('edit?id='.$vo['id'])}">{$vo.title}</a></td>
                    <td>{$vo.group}</td>
                    <td><span>{:mb_strimwidth($vo['description'],0,60,"...","utf-8")}</span></td>
                    <td>
                        <a data-backdrop="false" data-toggle="modal" data-target="#DlgModal"
                           href="{:U('Access/index?group_id='.$vo['id'])}">访问授权</a>
                    </td>
                    <td><span>{$vo.public_text}</span></td>
                    <td>
                        <input class="switch confirm"  type="checkbox" data-size="small" data-on-color="success" data-off-color="warning"
                        <eq name="vo.status" value="1">href="{:U('Role/changeStatus?method=forbid&id='.$vo['id'])}" checked
                            <else/>
                            href="{:U('Role/changeStatus?method=resume&id='.$vo['id'])}"</eq>>
                    </td>
                    <td>

                        <!--<eq name="vo.status" value="1">-->
                            <!--<a href="{:U('Role/changeStatus?method=forbid&id='.$vo['id'])}"-->
                               <!--class="ajax-get">禁用</a>-->
                            <!--<else/>-->
                            <!--<a href="{:U('Role/changeStatus?method=resume&id='.$vo['id'])}"-->
                               <!--class="ajax-get">启用</a>-->
                        <!--</eq>-->
                        <a  href="{:U('Role/changeStatus?method=delete&id='.$vo['id'])}"
                           class="confirm ajax-get btn btn-sm btn-info">删除</a>
                    </td>
                </tr>
            </volist>
            <else/>
            <td colspan="6" class="text-center"> aOh! 暂时还没有内容!</td>
        </notempty>
        </tbody>
    </table>
</div>
</div>
<div class="page">
    {$_page}
</div>

<script>

    baseJs();

    $('select[name=group_id]').change(function () {

        var target=$('#rg-container-fun').attr("href")+"?group_id="+this.value;
        if (target) {
            contentload(target);
        }

    });

</script>