<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"><h2>{$meta_title}</h2></h4>
</div>
<div class="modal-body">
    <!-- 管理员用户组新增和编辑页面 -->
    <h5>请选择角色</h5>

    <div class="form-group">
        <div id="auth_roles">

            <form action="{:U('addToRole')}" method="POST" class="form-horizontal auth-form">
                <volist name="node_list" id="node">
                    <notempty name="node['_roles']">
                        <dl class="checkmod group">
                            <dt class="hd">
                                <!--<label class="checkbox"><input class="auth_rules rules_all" type="checkbox"-->
                                                               <!--name="group[]" value="$node.id}">$node.title}</label>-->
                                <label class="checkbox">{$node.title}</label>
                            </dt>
                            <dd class="bd">
                                <volist name="node['_roles']" id="child">
                                    <div class="rule_check">
                                        <div>
                                            <input class="auth_rules rules_row" group="{$node.id}" type="checkbox" name="group_role[{$node.id}][]"
                                                   value="{$child.id}" <if condition="in_array($child['id'],$user_roles[$node['id']])">checked='checked'</if>/>{$child.title}
                                        </div>
                                    </div>
                                </volist>
                            </dd>
                        </dl>
                    </notempty>
                </volist>

                <input type="hidden" name="uid" value="{:I('uid')}">
                <input type="hidden" name="batch" value="true">
                <!--<button class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>-->
                <!--<button type="submit" class="btn btn-primary">确 定</button>-->
            </form>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-primary" onclick="Save()">保存</button>
</div>
<script type="text/javascript">
    $(function () {
        //全选节点
        $('.rules_all').on('change', function () {
            $(this).closest('dl').find('dd').find('input').prop('checked', this.checked);
        });
        $('.rules_row').on('change', function () {
            $(this).closest('.rule_check').find('.child_row').find('input').prop('checked', this.checked);
        });
    });
    function Save(){
        $.ajax({
            type:'POST',
            url:"{:U()}",
            data:$('#fm').serialize(),
            dataType:'json',
            success:function(data) {
                onSuccess(data);
            },
            error : function() {
                alert("异常！");
            }
        })
    }
</script>
</body>
</html>