<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{:C('WEB_SITE_TITLE')}</title>
    <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h2>{:isset($info['id'])?'编辑':'新增'}用户组</h2>
    <hr>
    <form action="{:U()}" method="post">
        <div class="form-horizontal">
            <notempty name="region">
                <div class="form-group">
                    <label for="Region" class="control-label col-md-2">区域</label>

                    <div class="col-md-10" id="Region">
                        <div class="col-md-2">
                            <select id="level1" name="level1" class="form-control level">
                                <option value="0">省份</option>
                                <volist name="region" id="levei1">
                                    <option value="{$levei1.id}">{$levei1.name}</option>
                                </volist>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select id="level2" name="level2" class="form-control level">
                                <option value="0">城市</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select id="level3" name="level3" class="form-control level">
                                <option value="0">区域</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select id="level4" name="level4" class="form-control level">
                                <option value="0">街道</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select id="level5" name="level5" class="form-control level">
                                <option value="0">社区</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select id="level6" name="level6" class="form-control level">
                                <option value="0">小区</option>
                            </select>
                        </div>
                    </div>
                </div>
            </notempty>
            <div class="form-group">
                <label for="group_pid" class="control-label col-md-2">上级</label>

                <div class="col-md-10">
                    <input id="group_pid" type="text" class="form-control" disabled="disabled"
                           value="{$category['title']|default='无'}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="auth-title" class="control-label col-md-2">标题</label>

                <div class="col-md-10">
                    <input id="auth-title" type="text" name="title" class="form-control"
                           value="{$info.title|default=''}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="group_code" class="control-label col-md-2">编码</label>

                <div class="col-md-10">
                    <input id="group_code" type="text" name="group_code" class="form-control"
                           value="{$info.group_code|default=''}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">是否公共</label>

                <div class="col-md-10">
                    <eq name="info.public" value="1">
                        <input type="radio" name="public" value="1" checked>是
                        <input type="radio" name="public" value="0">否
                        <else/>
                        <input type="radio" name="public" value="1">是
                        <input type="radio" name="public" value="0" checked>否
                    </eq>

                </div>
            </div>
            <div class="form-group">
                <label for="auth-description" class="control-label col-md-2">描述</label>

                <div class="col-md-10">
                    <textarea id="auth-description" rows="4" type="text" name="description" class="form-control">{$auth_group.description|default=''}</textarea>
                </div>
            </div>
        </div>
        <div class="footer">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <input type="hidden" name="type" value="1">
            <input type="hidden" name="level" value="{$category['level']|default=''}"/>
            <input type="hidden" name="pid" value="{:isset($category['id'])?$category['id']:$info['pid']}">
            <button class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
            <button type="submit" class="btn btn-primary">确 定</button>
        </div>
    </form>
</div>
<script>
    //    $(document).ready(function(){
    $('#level1').change(function () {
        var level = this.value;
        var obj3 = document.getElementById("level3");
        obj3.options.length = 0;
        obj3.add(new Option('区域', 0));
        var obj4 = document.getElementById("level4");
        obj4.options.length = 0;
        obj4.add(new Option('街道', 0));
        var obj5 = document.getElementById("level5");
        obj5.options.length = 0;
        obj5.add(new Option('社区', 0));
//            var child=parseInt(level,10)+parseInt(1,10);
        var obj6 = document.getElementById("level6");
        obj6.options.length = 0;
        obj6.add(new Option('小区', 0));
        var obj = document.getElementById("level2");
        if (parseInt(level, 10) > 0) {
            $.get("{:U('Group/showChild')}&pid=" + this.value, function (result) {

                //移除以前的选项

                obj.options.length = 0;
                //添加选项
                obj.add(new Option('城市', 0));
                $.each(result, function (key, item) {
                    obj.add(new Option(item.name, item.id));
                });
                obj.options[0].selected = true;

            });
        } else {
            obj.options.length = 0;
            //添加选项
            obj.add(new Option('城市', 0));
        }
    });
    $('#level2').change(function () {
        var level = this.value;
        var obj4 = document.getElementById("level4");
        obj4.options.length = 0;
        obj4.add(new Option('街道', 0));
        var obj5 = document.getElementById("level5");
        obj5.options.length = 0;
        obj5.add(new Option('社区', 0));
        var obj = document.getElementById("level3");
        var obj6 = document.getElementById("level6");
        obj6.options.length = 0;
        obj6.add(new Option('小区', 0));
        if (parseInt(level, 10) > 0) {
            $.get("{:U('Group/showChild')}&pid=" + this.value, function (result) {

                //移除以前的选项

                obj.options.length = 0;
                //添加选项
                obj.add(new Option('区域', 0));
                $.each(result, function (key, item) {
                    obj.add(new Option(item.name, item.id));
                });
                obj.options[0].selected = true;

            });
        } else {
            obj.options.length = 0;
            //添加选项
            obj.add(new Option('区域', 0));
        }
    });
    $('#level3').change(function () {
        var level = this.value;
        var obj5 = document.getElementById("level5");
        obj5.options.length = 0;
        obj5.add(new Option('社区', 0));
        var obj = document.getElementById("level4");
        var obj6 = document.getElementById("level6");
        obj6.options.length = 0;
        obj6.add(new Option('小区', 0));
        if (parseInt(level, 10) > 0) {
            $.get("{:U('Group/showChild')}&pid=" + this.value, function (result) {

                //移除以前的选项

                obj.options.length = 0;
                //添加选项
                obj.add(new Option('街道', 0));
                $.each(result, function (key, item) {
                    obj.add(new Option(item.name, item.id));
                });
                obj.options[0].selected = true;

            });
        } else {
            obj.options.length = 0;
            //添加选项
            obj.add(new Option('街道', 0));
        }
    });
    $('#level4').change(function () {
        var level = this.value;
//            var child=parseInt(level,10)+parseInt(1,10);
        var obj = document.getElementById("level5");
        var obj6 = document.getElementById("level6");
        obj6.options.length = 0;
        obj6.add(new Option('小区', 0));
        if (parseInt(level, 10) > 0) {
            $.get("{:U('Group/showChild')}&pid=" + this.value, function (result) {

                //移除以前的选项

                obj.options.length = 0;
                //添加选项
                obj.add(new Option('社区', 0));
                $.each(result, function (key, item) {
                    obj.add(new Option(item.name, item.id));
                });
                obj.options[0].selected = true;

            });
        } else {
            obj.options.length = 0;
            //添加选项
            obj.add(new Option('社区', 0));
        }
    });
    $('#level5').change(function () {
        var level = this.value;
//            var child=parseInt(level,10)+parseInt(1,10);
        var obj = document.getElementById("level6");
        if (parseInt(level, 10) > 0) {
            $.get("{:U('Group/showChild')}&pid=" + this.value, function (result) {

                //移除以前的选项

                obj.options.length = 0;
                //添加选项
                obj.add(new Option('小区', 0));
                $.each(result, function (key, item) {
                    obj.add(new Option(item.name, item.id));
                });
                obj.options[0].selected = true;

            });
        } else {
            obj.options.length = 0;
            //添加选项
            obj.add(new Option('小区', 0));
        }
    });
    //    });
</script>
</body>
</html>