<extend name="Layout:layout" />
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h4>请选分类</h4>
    </div>
    <form action="{:U('Brand/bindBrand')}" method="POST">
    <table>
                <tr>
                    <td>
                        <select id="category1" name="category1">
                            <option value="0">-请选一级分类-</option>
                            <volist name="category_1" id="category_1">
                                <option  value="{$category_1['id']}">{$category_1['title']}</option>
                            </volist>
                        </select>
                    </td>

                    <td>
                        <select id="category2" name="category2">
                            <option value="0" pid="0">-请选二级分类-</option>
                            <volist name="category_2" id="category_2">
                                <option value="{$category_2['id']}" pid="{$category_2['pid']}">{$category_2['title']}</option>
                            </volist>
                        </select>
                    </td>

                    <td>
                        <select id="category3" name="category3">
                            <option value="0" pid="0">-请选三级分类-</option>
                            <volist name="category_3" id="category_3">
                                <option value="{$category_3['id']}" pid="{$category_3['pid']}">{$category_3['title']}</option>
                            </volist>
                        </select>
                    </td>
                <tr>
    </table>
    <div class="main-title">
        <h4>品牌列表</h4>
    </div>
    <div class="cf">
        <div class="fl">
            <h7><a class="btn" href="{:U('Brand/add')}">新 增</a></h7>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
            <table class="table table-hover table-striped">
                <tr>
                    <th class="row-selected row-selected" width="35"><input class="check-all" type="checkbox"/></th>
                    <th class="" >ID</th>
                    <th class="" >排序</th>
                    <th class="">标题</th>
                    <th class="">状态</th>
                    <th class="">操&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作</th>
                </tr>
                <tbody>
                <notempty name="_list">
                    <volist name="_list" id="vo">
                        <tr>
                            <td><input class="ids" type="checkbox" name="brand_id[]" value="{$vo.id}"/></td>
                            <td>{$vo.id}</td>
                            <td>{$vo.sort}</td>
                            <td>{$vo.title}</td>
                            <td>{$vo.status}</td>
                            <!--<td><input type="hidden" name="category_id" value="{:I('uid')}"></td>-->
                            <td>
                                <a href="{:U('Brand/changeStatus?method=forbidBrand&id='.$vo['id'])}" class="ajax-get ">禁用</a>
                                <a href="{:U('Brand/changeStatus?method=resumeBrand&id='.$vo['id'])}" class="ajax-get ">启用</a>
                                <a href="{:U('Brand/edit',['id'=>$vo['id']])}" class="confirm ajax-get">编辑</a>
                                <a href="{:U('Brand/changeStatus?method=deleteBrand&id='.$vo['id'])}" class="confirm ajax-get">删除</a>
                            </td>
                        </tr>
                    </volist>
                </notempty>
                </tbody>
            </table>
            <div>
                <input type="submit" name="submit" value="确定关联" />
            </div>
    </div>
    </form>
    <div class="page">
        {$_page}
    </div>
</block>
<block name="footerJS">
<script type="text/javascript">
    $(function(){
        $('#category1').change(function(){
            var id = $(this).val();
            var category3id=$('#category2 option[pid='+id+']').eq(0).val();

            $('#category2 option[pid='+id+']').show();
            $('#category2 option[pid!='+id+']').hide();
            $('#category2').val(category3id);
            $('#category3 option[pid='+category3id+']').show();
            $('#category3 option[pid!='+category3id+']').hide();
            $('#category3').val($('#category3 option[pid='+category3id+']').eq(0).val());
        })

        $('#category2').change(function(){
            var id=$(this).val();
            $('#category3 option[pid='+id+']').show();
            $('#category3 option[pid!='+id+']').hide();
            $('#category3').val($('#category3 option[pid='+id+']').eq(0).val());
        })
    })
</script>
</block>





