<div class="container-fluid">

    <div class="row">
        <div class="col-xs-8 col-sm-6 col-lg-4">
            <a data-backdrop="false" data-toggle="modal" data-target="#DlgModal" id="add-category" class="btn btn-success"
               href="{:U('add')}">新 增</a>
        </div>
        <!-- 高级搜索 -->

        <div class="search-form fr cf col-xs-4 col-sm-6 col-lg-8">
            <div class="input-group">
                <input type="text" id="searchInput" name="name" class="form-control search-input" value="{:I('name')}" placeholder="请输入品牌编号或名称">
                    <span class="input-group-btn">
                        <button class="btn btn-default sch-btn" class="sch-btn" href="javascript:;" id="search" type="button"  url="{:U('Brand/index')}">搜索</button>
                    </span>
            </div>
            <!--<input type="text" name="name" class="search-input" value="{:I('name')}" placeholder="请输入配置名称">-->
            <!--<a class="sch-btn" href="javascript:;" id="search" url="{:U('config/index')}"><i class="btn-search"></i></a>-->
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th>名称</th>
                <th>描述</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                        <!--<td>{$vo.id}</td>-->
                        <!--<td>{$vo.sort}</td>-->
                        <td> <a data-backdrop="false" data-toggle="modal" data-target="#DlgModal" href="{:U('Brand/edit',['id'=>$vo['id']])}" >{$vo.title}</a></td>
                        <td>{$vo.description}</td>
                        <td>{$vo.status_text}</td>
                        <td>
                            <a data-backdrop="false" data-toggle="modal" data-target="#DlgModal" href="{:U('Brand/edit',['id'=>$vo['id']])}" >编辑</a>&nbsp;&nbsp;
                            <a href="{:U('Brand/changeStatus?method=forbidBrand&id='.$vo['id'])}" class="ajax-get ">禁用</a>&nbsp;&nbsp;
                            <a href="{:U('Brand/changeStatus?method=resumeBrand&id='.$vo['id'])}"class="ajax-get ">启用</a>&nbsp;&nbsp;
                            <a href="{:U('Brand/changeStatus?method=deleteBrand&id='.$vo['id'])}" class="confirm ajax-get">删除</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="6" class="text-center"> aOh! 暂时还没有内容!</td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</div>
<script>
    //搜索功能
    $("#search").click(function(){
        var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }

        var target=$('#rg-container-fun').attr("href")+"?name="+$('#searchInput').val();
        if (target) {
            contentload(target);
        }
        //window.location.href = url;
    });
    //回车搜索
    $(".search-input").keyup(function(e){
        if(e.keyCode === 13){
            $("#search").click();
            return false;
        }
    });

    baseJs();
</script>

