<extend name="Layout:layout" />
<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>商品分类品牌规格关联表</h2>
	</div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <form action="{:U()}" method="POST">
	<table class="table table-hover table-striped">
        <tr>
		<th class="" >分类ID</th>
        <th class="" >品牌ID</th>
		<th class="" >规格ID</th>
		</tr>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
			<td><input class="id" type="hidden" name="category_id" value="{$vo.category_id}"/>{$vo.category_id}</td>
            <td><input class="id" type="hidden" name="brand_id" value="{$vo.brand_id}"/>{$vo.brand_id}</td>
            <td><input class="id" type="hidden" name="norms_id" value="{$vo.norms_id}"/>{$vo.norms_id}</td>
		</tr>
		</volist>
		</notempty>
	</tbody>
    </table>
            </form>
	</div>
    <div class="page">
        {$_page}
    </div>
    <div>
    <a href="{:U('Norms/bindNorms')}">
        <input type="Submit" name="Submit" value="返回" /></a>
    </div>
</block>



