<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{:C('WEB_SITE_TITLE')}</title>
    <script src="__STATIC__/js/jquery.min.js"></script>
    <script src="__STATIC__/js/jquery.md5.js"></script>
</head>
<body>

<form action="?" method="post" name="form">

    用户名/手机/邮箱：<input type="text" name="username" id="username" value="" />　<br />
    密码：<input type="password" name="password" id="password" value="" />

        <input type="button" value="提交" onclick="login()" />

</form>
<div id="msg"></div>
</body>
</html>
<script>
    $(document).ready(function(){

    });

    function login(){
        var username = $("#username").val();
        var password = $("#password").val();

        if(username==""){
            $('#msg').html("手机号不能为空！");
            $("#username").focus();
            return false;
        }
        if(password==""){
            $('#msg').html("密码不能为空！");
            $("#password").focus();
            return false;
        }
        password = $.md5(password);

        $.ajax({
            type: "POST",
            url: '{:U("User/login")}',
            dataType: "json",
            data: {"username":username,"password":password},
            beforeSend: function(){
               $('#msg').html("正在登陆...");
            },
            success: function(json){
            if(json.success==1){
                $('#msg').html("登陆成功，正在跳转...");
                alert('登陆成功！');
                location.href="{:U('Index/index')}";
            }else{
                $('#msg').html("注册失败！Error:"+json.message);
                return false;
            }
        }
        });
    }

</script>