<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>个人中心</title>

    <link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.min.css" media="all">

    <link rel="stylesheet" type="text/css" href="__CSS__/site.css" media="all">
    <block name="style"></block>
</head>

<body>
<!-- 头部 -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="javascript:void(0)" onclick="showSubMenu(0, false)"><img alt="一点社区" class="logo"></a>-->
                <a class="navbar-brand" href="javascript:void(0)" onclick="showSubMenu(0, false)">一点社区</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="nav-root-ul">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">你好，<em
                                title="{:session('admin_auth.mobile')}">{:session('admin_auth.mobile')}</em><span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <!--<li class="manager">你好，<em title="{:session('user_auth.username')}">{:session('user_auth.username')}</em></li>-->
                            <li><a href="{:U('Public/logout')}">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- /头部 -->

<div class="container-fluid" id="rg-container-main">
    <div class="row">
        <div id="rg-col-nav-sub" class="col-sm-3 col-md-2 col-lg-2">
            <div class="row">
                <div class="list-group col-md-12 side-sub-menu">
                    <a href="{:U('index')}" class="list-group-item">
                        个人资料
                    </a>
                    <a href="{:U('merchantRegister')}" class="list-group-item">我是商家</a>
                    <a href="{:U('adminRegister')}" class="list-group-item">我是管理员</a>
                </div>
            </div>
        </div>


        <div class="col-sm-9 col-md-10 col-lg-10">
            <block name="body"> </block>
        </div>
    </div>
</div>


<footer id="rg-footer">
    <p>&copy; 北京云图科技有限公司成都分公司</p>
</footer>

<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>

<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

        function highlight_subnav(url){
            $('.side-sub-menu').find('a[href="'+url+'"]').addClass('active');
        }

</script>

<block name="script"></block>

</body>
</html>
