


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{$meta_title}</h3>
    </div>
    <div class="panel-body">
        <form id="fm" method="post" class="form-horizontal">


            <div class="form-group">
                <label for="title">标题</label>


                <input id="title" type="text" name="title" class="form-control" placeholder="请输入标题"
                       value="{$info.title}"/>

            </div>

            <div class="form-group">
                <label>分类</label>


                <select name="cate_id" class="form-control">
                    <volist name="Think.config.FEEDBACK_CATEGORY" id="category">
                        <option value="{$key}"
                        <eq name="key" value="$info.cate_id"> selected</eq>
                        >{$category}</option>
                    </volist>
                </select>


            </div>


            <div class="form-group">
                <label>描述</label>


                <textarea rows="4" name="description" >{$info.description|default=''}</textarea>
                {:hook('topicComment', array('name'=>'description','value'=>info.description))}

            </div>


            <div class="footer">
                <input type="hidden" name="id" value="{$info.id|default=''}">
                <input type="hidden" name="status" value="{$info.status|default=0}">
            </div>
        </form>

    </div>
    <div class="panel-footer">
        <a class="btn btn-success ajax-loading"
           href="{:U('index')}">返回</a>
        <button type="button" class="btn btn-success" onclick="ajaxSave('{:U()}','fm')">提交</button>
    </div>
</div>

<script>

    //ajax loading请求
    $('.ajax-loading').click(function () {
        var target = getCookie('o2o_admin___forward__')
        if (target == "" || target == null) {
            target = $(this).attr('href');
        }
        contentload(target);

        return false;
    });

</script>
