<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{$meta_title}</title>
    <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h2>{:isset($info['id'])?'编辑':'新增'}商品</h2>
    <hr>
    <form action="{:U()}" method="post">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="category" class="control-label col-md-2">分类</label>

                <div class="col-md-10" id="category">
                    <div class="col-md-4">
                        <select id="category1" name="category1[]" multiple="multiple" size="7"
                                class="form-control category">
                            <!--<option value="0">一级大类</option>-->
                            <volist name="list_category" id="cg">
                                <option value="{$cg['id']|default='无'}" <in name="cg['id']" value="$this_category['selected']">selected</in> >{$cg.title}</option>
                            </volist>

                        </select>
                    </div>
                    <div class="col-md-4">
                        <select id="category2" name="category2[]" multiple="multiple" size="7"
                                class="form-control category">
                            <option value="0">二级大类</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select id="category3" name="category3[]" multiple="multiple" size="7"
                                class="form-control category">
                            <option value="0">三级大类</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="brand" class="control-label col-md-2">品牌</label>

                <div class="col-md-10">
                    <select id="brand" class="form-control" name="brand_id">
                        <!--<option value="0">--请选择--</option>-->
                        <volist name="list_brand" id="vo">
                            <option value="{$vo['id']|default='无'}"
                            <eq name="vo['id']" value="$info.brand_id">selected</eq>
                            >{$vo.title}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="norm" class="control-label col-md-2">规格</label>

                <div class="col-md-10">
                    <select id="norm" class="form-control" name="norms_id">
                        <!--<option value="0">--请选择--</option>-->
                        <volist name="list_norm" id="nm">
                            <option value="{$nm['id']|default='无'}"
                            <eq name="nm['id']" value="$info.norms_id">selected</eq>
                            >{$nm.title}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="control-label col-md-2">名称</label>

                <div class="col-md-10">
                    <input id="title" type="text" name="title" class="form-control"
                           value="{$info.title|default=''}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="control-label col-md-2">价格</label>

                <div class="col-md-10">
                    <input id="price" type="text" name="price" class="form-control"
                           value="{$info.price|default=''}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="code" class="control-label col-md-2">编码</label>

                <div class="col-md-10">
                    <input id="code" type="text" name="number" class="form-control"
                           value="{$info.number|default=''}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="detail" class="control-label col-md-2">详细</label>

                <div class="col-md-10">
                    <textarea id="detail" rows="4" type="text" name="detail" class="form-control">{$info.detail|default=''}</textarea>
                </div>
            </div>
        </div>
        <div class="footer">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
            <button type="submit" class="btn btn-primary">确 定</button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {

    });
    $('#category1').change(function () {
        // alert($(this).val());

        var val = $(this).val();
        var B = document.getElementById("brand");
        var N = document.getElementById("norm");
        var C2 = document.getElementById("category2");
        $.get("{:U('Product/getBrandAndNorms')}&pid=" + val, function (result) {
            //移除以前的选项
            B.options.length = 0;
            N.options.length = 0;
            C2.options.length = 0;
            //添加选项
            $.each(result, function (key, item) {
                B.add(new Option(item.brand_title, item.brand_id));
                N.add(new Option(item.norms_title, item.norms_id));
                C2.add(new Option(item.brand_title, item.category_id));
            });
            //obj.options[0].selected = true;

        });
    });
    $('#category2').change(function () {
        // alert($(this).val());

        var val = $(this).val();
        var B = document.getElementById("brand");
        var N = document.getElementById("norm");
        var C3 = document.getElementById("category3");
        $.get("{:U('Product/getBrandAndNorms')}&pid=" + val, function (result) {
            //移除以前的选项
            B.options.length = 0;
            N.options.length = 0;
            C3.options.length = 0;
            //添加选项
            $.each(result, function (key, item) {
                B.add(new Option(item.brand_title, item.brand_id));
                N.add(new Option(item.norms_title, item.norms_id));
                C3.add(new Option(item.brand_title, item.category_id));
            });
            //obj.options[0].selected = true;

        });
    });
    $('#category3').change(function () {
        // alert($(this).val());

        var val = $(this).val();
        var B = document.getElementById("brand");
        var N = document.getElementById("norm");
        $.get("{:U('Product/getBrandAndNorms')}&pid=" + val, function (result) {
            //移除以前的选项
            B.options.length = 0;
            N.options.length = 0;
            //添加选项
            $.each(result, function (key, item) {
                B.add(new Option(item.brand_title, item.brand_id));
                N.add(new Option(item.norms_title, item.norms_id));
            });
            //obj.options[0].selected = true;

        });
    });
</script>
</body>
</html>