
<script type="text/javascript" src="__STATIC__/webuploader/webuploader.min.js"></script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{:isset($info['id'])?'编辑':'新增'}商品</h4>
</div>
<div class="modal-body">

    <form id="fm">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="category" class="control-label col-md-2">分类</label>

                <div class="col-md-10" id="category">
                    <div class="col-md-4">
                        <select id="category1" name="category1[]" multiple="multiple" size="7"
                                class="form-control category">
                            <!--<option value="0">一级大类</option>-->
                            <volist name="list_category" id="cg">
                                <option value="{$cg['id']|default='无'}"
                                <in name="cg['id']" value="$this_category['selected']">selected</in>
                                >{$cg.title}</option>
                            </volist>

                        </select>
                    </div>
                    <div class="col-md-4">
                        <select id="category2" name="category2[]" multiple="multiple" size="7"
                                class="form-control category">
                            <!--<option value="0">二级大类</option>-->
                            <volist name="this_category['level2']" id="l2">
                                <option value="{$l2['id']|default='无'}"
                                <in name="l2['id']" value="$this_category['selected']">selected</in>
                                >{$l2.title}</option>
                            </volist>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select id="category3" name="category3[]" multiple="multiple" size="7"
                                class="form-control category">
                            <!--<option value="0">三级大类</option>-->
                            <volist name="this_category['level3']" id="l3">
                                <option value="{$l3['id']|default='无'}"
                                <in name="l3['id']" value="$this_category['selected']">selected</in>
                                >{$l3.title}</option>
                            </volist>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="brand" class="control-label col-md-2">品牌</label>

                <div class="col-md-10">
                    <select id="brand" class="form-control" name="brand_id">
                        <!--<option value="0">--请选择--</option>-->
                        <volist name="list_brand['Brand']" id="vo">
                            <option value="{$vo['brand_id']|default='无'}"
                            <eq name="vo['brand_id']" value="$info.brand_id">selected</eq>
                            >{$vo.brand_title}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="norm" class="control-label col-md-2">规格</label>

                <div class="col-md-10">
                    <select id="norm" class="form-control" name="norms_id">
                        <!--<option value="0">--请选择--</option>-->
                        <volist name="list_norm" id="nm">
                            <option value="{$nm['norms_id']|default='无'}"
                            <eq name="nm['norms_id']" value="$info.norms_id">selected</eq>
                            >{$nm.norms_title}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="control-label col-md-2">名称</label>

                <div class="col-md-10">
                    <input id="title" type="text" name="title" class="form-control"
                           value="{$info.title|default=''}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="control-label col-md-2">价格</label>

                <div class="col-md-10">
                    <input id="price" type="text" name="price" class="form-control"
                           value="{$info.price|default=''}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="code" class="control-label col-md-2">编码</label>

                <div class="col-md-10">
                    <input id="code" type="text" name="number" class="form-control"
                           value="{$info.number|default=''}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="control-label col-md-2">详细</label>

                <div class="col-md-10">
                    <textarea id="description" rows="4" type="text" name="description" class="form-control">{$info.description|default=''}</textarea>
                </div>
            </div>



            <div class="form-group">
                <label class="control-label col-md-2">图片</label>
            <!--上传图片部分-->
                <div class="col-md-10">
                <!--用来存放item-->
                <input type="hidden" name="picture" id="cover_id" value="{$info.picture|default=''}"/>
                <div id="filePicker">选择图片</div>
                <div id="fileList" class="uploader-list"></div>
                <div class="upload-img-box">
                    <a class="upload-pre-item" class="thumbnail"><img class="img-thumbnail" src="{$info['_picture']['path']|default=''}"/></a>
                </div>
            </div>
                </div>

        </div>
        <div class="footer">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <input type="hidden" name="create_uid" value="{$info.create_uid|default=UID}">
            <input type="hidden" name="source" value="{$info.source|default='1'}">
            <input type="hidden" name="status" value="{$info.status|default='1'}">
            <!--<button class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>-->
            <!--<button type="submit" class="btn btn-primary">确 定</button>-->
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-primary"  onclick="Save('{:U()}','fm')">保存</button>
</div>

<script>

    // 初始化Web Uploader
    var uploader = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: true,

        // swf文件路径
        swf: '__STATIC__/webuploader/js/Uploader.swf',

        // 文件接收服务端。
        server: "{:U('File/uploadPicture')}",

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#fileList'),
                $percent = $li.find('.progress span');

        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<p class="progress"><span></span></p>')
                    .appendTo( $li )
                    .find('span');
        }

        $percent.css( 'width', percentage * 100 + '%' );
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on( 'uploadSuccess', function( file ,data) {

        $( '#fileList' ).addClass('upload-state-done');
        var src = '';
        if (data.status) {
            $("#cover_id").val(data.id);
            src = data.url || '__ROOT__' + data.path
            $("#cover_id").parent().find('.upload-img-box').html(
                    '<a class="upload-pre-item" ><img class="img-thumbnail" src="' + src + '"/></a>'
            );
        } else {
            onSuccess(data);
        }

    });

    // 文件上传失败，显示上传出错。
    uploader.on( 'uploadError', function( file ,result) {
        var $li = $( '#fileList' ),
                $error = $li.find('div.error');

        // 避免重复创建
        if ( !$error.length ) {
            $error = $('<div class="error"></div>').appendTo( $li );
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on( 'uploadComplete', function( file ) {
        $( '#fileList').find('.progress').remove();
    });




    $('#category1').change(function () {
        // alert($(this).val());

        var val = $(this).val();
        var B = document.getElementById("brand");
        var N = document.getElementById("norm");
        var C2 = document.getElementById("category2");
        var C3 = document.getElementById("category3");
        $.get("{:U('Product/getCategoryChild')}&pid=" + val, function (result) {
            //移除以前的选项
            B.options.length = 0;
            N.options.length = 0;
            C2.options.length = 0;
            C3.options.length = 0;
            //添加选项
            $.each(result.data, function (key, item) {
//                B.add(new Option(item.brand_title, item.brand_id));
//                N.add(new Option(item.norms_title, item.norms_id));
                C2.add(new Option(item.title, item.id));
            });
            //obj.options[0].selected = true;
            $.each(result.other.Brand, function (k, v) {
                B.add(new Option(v.brand_title, v.brand_id));
                // N.add(new Option(v.norms_title, v.norms_id));
            });
//            $.each(result.other.Norms, function (k, v) {
//                //B.add(new Option(v.brand_title, v.brand_id));
//                N.add(new Option(v.norms_title, v.norms_id));
//            });
            if($('#brand').val()!=""&&$('#brand').val()!=null){
            $.get("{:U('Product/getNorms')}&pid=" + val + '&brand=' + $('#brand').val(), function (result) {
                //移除以前的选项
                N.options.length = 0;
                //添加选项
                $.each(result, function (k, v) {
                    N.add(new Option(v.norms_title, v.norms_id));
                });

            });
            }
        });
    });
    $('#category2').change(function () {
        // alert($(this).val());

        var val = $(this).val();
        var B = document.getElementById("brand");
        var N = document.getElementById("norm");
        var C3 = document.getElementById("category3");
        $.get("{:U('Product/getCategoryChild')}&pid=" + val, function (result) {
            //移除以前的选项
            B.options.length = 0;
            N.options.length = 0;
            C3.options.length = 0;
            //添加选项
            $.each(result.data, function (key, item) {
                C3.add(new Option(item.title, item.id));
            });
            $.each(result.other.Brand, function (k, v) {
                B.add(new Option(v.brand_title, v.brand_id));
                //N.add(new Option(v.norms_title, v.norms_id));
            });
            if($('#brand').val()!=""&&$('#brand').val()!=null){
                $.get("{:U('Product/getNorms')}&pid=" + val + '&brand=' + $('#brand').val(), function (result) {
                    //移除以前的选项
                    N.options.length = 0;
                    //添加选项
                    $.each(result, function (k, v) {
                        N.add(new Option(v.norms_title, v.norms_id));
                    });

                });
            }

        });
    });
    $('#category3').change(function () {
        // alert($(this).val());

        var val = $(this).val();
        var B = document.getElementById("brand");
        var N = document.getElementById("norm");
        $.get("{:U('Product/getCategoryChild')}&pid=" + val, function (result) {
            //移除以前的选项
            B.options.length = 0;
            N.options.length = 0;
            //添加选项
            $.each(result.other.Brand, function (k, v) {
                B.add(new Option(v.brand_title, v.brand_id));
                // N.add(new Option(v.norms_title, v.norms_id));
            });
            if($('#brand').val()!=""&&$('#brand').val()!=null){
                $.get("{:U('Product/getNorms')}&pid=" + val + '&brand=' + $('#brand').val(), function (result) {
                    //移除以前的选项
                    N.options.length = 0;
                    //添加选项
                    $.each(result, function (k, v) {
                        N.add(new Option(v.norms_title, v.norms_id));
                    });

                });
            }
        });
    });
    $('#brand').change(function () {
        var val = $(this).val();
        var pidval = "";
        if ($('#category3').val() != "" && $('#category3').val() != null) {
            pidval = $('#category3').val();

        }
        else if ($('#category2').val() != "" && $('#category2').val() != null) {
            pidval = $('#category2').val();
        }
        else if ($('#category1').val() != "" && $('#category1').val() != null) {
            pidval = $('#category1').val();
        }
        else {
            return false;
        }
        if (pidval == "") {
            return false;
        }
        var N = document.getElementById("norm");
        $.get("{:U('Product/getNorms')}&pid=" + pidval + '&brand=' + val, function (result) {
            //移除以前的选项
            N.options.length = 0;
            //添加选项
            $.each(result, function (k, v) {
                N.add(new Option(v.norms_title, v.norms_id));
            });

        });
    });

</script>
</body>
</html>