<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"><h2>{$meta_title}</h2></h4>
</div>
<div class="modal-body">
    <!-- 管理员用户组新增和编辑页面 -->
    <h5>请勾选节点</h5>
        <hr>
        <!-- 访问授权 -->
        <form id="fm"  method="POST" class="form-horizontal auth-form">
            <ul id="tree"></ul>

            <input type="hidden" name="role" value="{:I('group_id')}"/>
            <input type="hidden" name="batch" value="true">
            <!--<button class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>-->
            <!--<button type="submit" class="btn btn-primary">确 定</button>-->
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-primary" onclick="Save('{:U(\'addToRule\')}','fm')">保存</button>
</div>
<script type="text/javascript" charset="utf-8">

        var arrTree = jQuery.parseJSON('{$node_list|json_encode}');

        function recursionJSON(data, str) {
            str += "　";
            if (typeof(data) == "object") {
                $.each(data, function (i, n) {
                    $("#tree").append('<li>' + str + '<input type="checkbox" class="auth_rules rules_row" value="' + n.id + '" name="rules[]" />' + n.title + '</li>');
                    if (typeof(n._child) == "object") {
                        recursionJSON(n._child, str + "　");
                    }
                });
            }
        }

        recursionJSON(arrTree, "");
        var rules = [{$child_list}];
        $('.auth_rules').each(function () {
            if ($.inArray(parseInt(this.value, 10), rules) > -1) {
                $(this).prop('checked', true);
            }
            if (this.value == '') {
                $(this).closest('span').remove();
            }
        });

        //全选节点
        $('.rules_all').on('change', function () {
            $(this).closest('dl').find('dd').find('input').prop('checked', this.checked);
        });
        $('.rules_row').on('change', function () {
            $(this).closest('.rule_check').find('.child_row').find('input').prop('checked', this.checked);
        });


//        $('select[name=group]').change(function () {
//            location.href = this.value;
//        });

</script>