<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{:C('WEB_SITE_TITLE')}</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.min.css" media="all">
    <script src="__STATIC__/js/jquery.min.js"></script>
    <script src="__STATIC__/js/jquery.md5.js"></script>
</head>
<body>


<div class="container">
    <h3>用户登录</h3>
    <hr>
    <div class="row">
        <div class="col-md-6 ">
<form action="?"  method="post" name="form">
    <div class="form-group">
        <label class="control-label" for="username">用户名</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名/手机/邮箱">
    </div>
    <div class="form-group">
        <label class="control-label" for="password">密码</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
    </div>
    <div>  <label class="control-label" for="vf">验证码</label></div>
    <div class="form-group">

        <img id="vf" src="{:U('Public/verify')}" />
    </div>
    <button type="submit" class="btn btn-default" onclick="login()">登录</button>
</form>
        </div>
    </div>
<div class = "text-danger" id="msg"></div>
</div>
</body>
</html>
<script>
    $(document).ready(function(){

    });

    function login(){
        var username = $("#username").val();
        var password = $("#password").val();

        if(username==""){
            $('#msg').html("手机号不能为空！");
            $("#username").focus();
            return false;
        }
        if(password==""){
            $('#msg').html("密码不能为空！");
            $("#password").focus();
            return false;
        }
        password = $.md5(password);

        $.ajax({
            type: "POST",
            url: '{:U('Public/login')}',
            dataType: "json",
            data: {"username":username,"password":password},
            beforeSend: function(){
               $('#msg').html("正在登陆...");
            },
            success: function(json){
            if(json.status==1){
                $('#msg').html("登陆成功，正在跳转...");
                alert('登陆成功！');
                location.href="{:U('Index/index')}";
            }else{
                $('#msg').html("注册失败！Error:"+json.info);
                return false;
            }
        }
        });
    }

</script>