
<script src="__STATIC__/js/jquery.md5.js"></script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"><h2>{$meta_title}</h2></h4>
</div>
<div class="modal-body">
    <!-- 表单 -->
    <form id="fm"  method="post" autocomplete="off">
        <div class="form-horizontal">
            <!-- 修改密码表单 -->
            <div class="form-group">
                <label class="control-label col-md-2">原密码</label>

                <div class="col-md-10">
                    <input type="password" class="form-control" id="old" name="old" autocomplete="off" placeholder="请输入原密码">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">新密码</label>

                <div class="col-md-10">
                    <input type="password" class="form-control" id="password" name="password" autocomplete="off" placeholder="请输入新密码">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">确认密码</label>

                <div class="col-md-10">
                    <input type="password" class="form-control" id="repassword" name="repassword" autocomplete="off" placeholder="请输入确认密码">
                </div>
            </div>


        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-primary"  onclick="UpdatePwd()">确 认</button>
</div>
<script>
    function UpdatePwd(){

        var old = $("#old").val();
        var password = $("#password").val();
        var repassword = $("#repassword").val();

        if(old==""){

            Messenger().post({
                message: "原始密码不能为空!",
                type: 'error',
                showCloseButton: true,
                hideAfter: 2
            });
            $("#username").focus();
            return false;
        }
        if(password==""){
            Messenger().post({
                message: "新密码不能为空!",
                type: 'error',
                showCloseButton: true,
                hideAfter: 2
            });
            $("#password").focus();
            return false;
        }
        if(repassword!=password){

            Messenger().post({
                message: "您输入的新密码与确认密码不一致!",
                type: 'error',
                showCloseButton: true,
                hideAfter: 2
            });
            $("#repassword").focus();
            return false;
        }
        old = $.md5(old);
        password = $.md5(password);
        repassword = $.md5(repassword);

        $.ajax({
            type: "POST",
            url: '{:U("User/updatePassword")}',
            dataType: "json",
            data: {"old":old,"password":password,"repassword":repassword},
            success:function(data) {
                onSuccess(data);
            },
            error : function() {
                //   alert("内部错误！");
                Messenger().post({
                    message: "对不起,出错了,请稍后重试,如果一直出现此异常,请联系我们!",
                    type: 'error',
                    showCloseButton: true,
                    hideAfter: 2
                });
            }
        })
    }
</script>