<extend name="Layout:layout" />
<block name="body">
    <div class="main-title">
        <h4>分类及品牌选择</h4>
    </div>
    <!-- 标题栏 -->
    <form action="{:U('Norms/bindNorms')}" method="POST">
    <table>
        <tr>
            <td>
                <select id="category1" name="category_1">
                    <option value="0">-请选一级分类-</option>
                        <option  value="{$category_1['id']}" >{$category_1['title']}</option>
                </select>
            </td>

            <td>
                <select id="category2" name="category_2">
                    <option value="0" >-请选二级分类-</option>
                        <option value="{$category_2['id']}" >{$category_2['title']?$category_2['title']:'无'}</option>
                </select>
            </td>

            <td>
                <select id="category3" name="category_3">
                    <option value="0" pid="0">-请选三级分类-</option>
                        <option value="{$category_3['id']}" >{$category_3['title']?$category_3['title']:'无'}</option>
                </select>
            </td>

            <td>
                <select id="brand" name="brand[]">
                    <option value="0" >-请选品牌-</option>
                            <volist name="brand" id="brand">
                        <option value="{$brand['id']}">{$brand['title']}</option>
                            </volist>
                </select>
            </td>
        <tr>
    </table>

    <div class="main-title">
        <h4>规格列表</h4>
    </div>
    <div class="cf">
        <div class="fl">
            <h3><a class="btn" href="{:U('Norms/add')}">新 增</a></h3>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">ID</th>
                <th class="">标题</th>
                <th class="">状态</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="norms_id[]" value="{$vo.id}" /></td>
                        <td>{$vo.id} </td>
                        <td>{$vo.title}</td>
                        <td>{$vo.status}</td>
                        <td>
                            <a href="{:U('Norms/changeStatus?method=forbidnorms&id='.$vo['id'])}" class="ajax-get">禁用</a>
                            <a href="{:U('Norms/changeStatus?method=resumenorms&id='.$vo['id'])}" class="ajax-get">启用</a>
                            <a href="{:U('Norms/edit',['id'=>$vo['id']])}" class="confirm ajax-get">编辑</a>
                            <a href="{:U('Norms/changeStatus?method=deletenorms&id='.$vo['id'])}" class="confirm ajax-get">删除</a>
                        </td>
                    </tr>
                </volist>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
    <div>
            <input type="Submit" value="确定关联" />
    </div>
    </form>
    <div>
        <a href="{:U('Brand/bindBrand')}">
        <input type="Submit" name="Submit" value="返回" /></a>
    </div>
</block>



